header {
    position:fixed;
    background-color:pink;
}


nav {
    width: 100%;
    background-color:light-green;
    position:fixed;
    hight: 100px;
}
section{
    width: 50%;
    float: left;
    margin: 120px;
}
