header {
    position:fixed;
    background-color:rgb(102, 255, 255);
}


nav {
    width: 100%;
    background-color:rgb(51, 204, 255);
    position:fixed;
    hight: 100px;
}
section{
    width: 50%;
    float: left;
    margin: 120px;
}
