header {
    position:fixed;
    background-color:rgb(102, 255, 255);
    width: 100%;
}
nav {
    width: 100%;
    background-color:rgb(51, 204, 255);
    position:fixed;
    margin-top:60px;
}
section{
    width: 50%;
    float: left;
    margin-top: 200px;
}
#left {
    background-color: rgb(51, 153, 255);
}
#right {
    background-color: rgb(102, 153, 255);
}
artical {
    clear: both;
}
footer {
    clear:both;
}
