.high {
  background-color: red;
  color: white;
}
.medium {
  background-color: orange;
  color: white;
}
.low {
  background-color: rgb(182, 182, 190);
  color: black;
}
.done {
  background-color: black;
  color: rgb(0, 255, 255);
}
section {
  width: 250;
  padding: 25;
  border: 5; color: black;
  margin: 25;
}
