.high {
  background-color: red;
  color: white;
}
.medium {
  background-color: orange;
  color: white;
}
.low {
  background-color: rgb(182, 182, 190);
  color: black;
}
.done {
  background-color: black;
  color: rgb(0, 255, 255);
}
section {
  width: 250px;
  height: 250px;
  padding: 25px;
  border: 5px solid black;
  margin: 25px;
}
